body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/components/images/Background4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.flex {
  display: flex;
}

.x2 {
  flex: 2;
}

/*Header*/
img {
  width: 145px;
}
.navbar {
  background-color: rgba(187, 154, 33, 0.7);
}

.goldbar {
  border: solid rgba(157, 0, 0) 1px;
  height: 0px;
  width: 190px;
}

.bigger {
  font-size: xx-large;
}

.custom-toggler.navbar-toggler {
  border-color: black;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(157, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}

.last {
  padding-right: 25px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-link.under {
  padding-left: 10px;
}

.nav-link.under:hover {
  background-color: rgba(157, 0, 0);
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 1.8);
}

#sub {
  color: white;
  text-shadow: 2px 2px 4px black;
}

#sub:hover {
  color: rgba(157, 0, 0);
}

#words {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-family: "Times New Roman", Times, serif;
}

/*Home Page*/

.image-resize {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center center;
}

.x1.goldbar.home {
  border: solid rgba(187, 154, 33, 0.7);
  height: 0px;
  width: 190px;
}

.goldbar-small {
  border: solid rgba(157, 0, 0, 0.7);
  height: 0px;
  width: 190px;
}

.paragraph {
  color: white;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}

.article {
  justify-content: center;
  align-items: center;
}

.r-text-lg {
  font-size: x-large;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.pad {
  padding-left: 50px;
}

.dap {
  padding-right: 50px;
}

.hover {
  transition: all 0.3s;
  width: 50px;
}

.foot-hover {
  color: white;
  transition: all 0.3s;
}

.foot-hover:hover {
  transform: scale(1.15);
  color: rgba(187, 154, 33, 0.8);
  text-shadow: 2px 2px 4px black;
}

.m1 {
  border: none;
}

.hover:hover {
  transform: scale(1.15);
}

.pic {
  /*was 600? */
  width: 700px;
  padding-top: 0px;
  justify-content: end;
  align-items: end;
}

.sm {
  /*was 300? */
  width: 300px;
  padding-right: 10px;
}

.open {
  padding-top: 70px;
}

.lasts {
  padding-top: 150px;
}

.lg {
  padding-top: 200px;
  padding-left: 35px;
}

.second {
  width: 600px;
  margin-right: 350px;
}

.mediums {
  width: 450px;
}

.text-white {
  font-family: "Times New Roman", Times, serif;
}

.sms {
  width: 300px;
}

.first {
  padding-top: 100px;
}

.sm-screen {
  padding-top: 20px;
  padding-bottom: 20px;
}

.lg-image {
  width: 1000px;
  /*was 700 */
}

.r-text {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}

.r-text-sm {
  font-size: larger;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.demo-pic-md {
  width: 300px;
}

.space {
  margin-left: 5px;
}

.mediums-sc {
  width: 400px;
}
.mediums-buff {
  width: 400px;
}

.install {
  background-color: rgba(187, 154, 33, 0.7);
  margin-bottom: 20px;
  margin-top: 20px;
  width: fit-content;
}

.install-small {
  background-color: rgba(187, 154, 33, 0.7);
  width: fit-content;
}

.brag {
  color: white;
  text-shadow: 2px 2px 4px rgba(157, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}

.brag-small {
  color: white;
  text-shadow: 2px 2px 4px rgba(157, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}

.demo-pic {
  width: 650px;
}

.demo-pic-small {
  width: 300px;
}

.view {
  width: 200px;
  padding-top: 20px;
}

.r-text-brag {
  color: white;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}

.service {
  background-color: rgba(157, 0, 0);
  color: white;
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.7);
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-size: large;
  border-radius: 10px;
}

.service:hover {
  color: rgba(187, 154, 33, 0.7);
}

#open-heading {
  color: white;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.8);
}

#lg-text {
  font-size: xx-large;
}

#open-heading-sm {
  color: white;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.8);
}

#open-heading-md {
  padding-top: 150px;
  color: white;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.8);
}

#open-heading-lg {
  padding-top: 150px;
  color: white;
  font-size: xxx-large;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.8);
}

#third-image-small {
  width: 300px;
}

#open-headings {
  color: white;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.8);
}

#second-paragraph {
  color: white;
  font-size: x-large;
}

#third-open-heading-sm {
  padding-top: 25px;
  color: white;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.8);
}

#third-paragraph-image {
  width: 500px;
}

@media screen and (min-width: 641px) and (max-width: 825px) {
  .mediums-buff {
    width: 350px;
  }
}

@media screen and (min-width: 1920px) {
  .image-resize {
    width: 100%;
    height: 1050px;
  }

  .text-white {
    font-size: x-large;
  }

  .first {
    padding-top: 200px;
  }
}

@media screen and (max-width: 480px) {
  #open-heading {
    font-size: x-large;
  }
}

@media screen and (max-width: 768px) {
  #open-heading {
    font-size: x-large;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .brag {
    font-size: x-large;
  }

  .demo-pic {
    width: 470px;
  }
}

/*COntact Page*/

.width {
  height: 200px;
  width: 740px;
}

.form-label {
  color: white;
  font-size: large;
}
.send {
  background-color: rgba(187, 154, 33, 0.7);
  color: white;
}

.topper {
  padding-top: 15px;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .width {
    width: 200px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .width {
    width: 400px;
  }
}

/*Thank You Page*/

.confirm {
  color: white;
  padding-top: 20px;
  font-size: xxx-large;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.8);
}

.thank-you {
  color: white;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}

/*Reviews*/

.rev {
  color: white;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}

.second-row {
  padding-top: 20px;
}

.third-row {
  padding-top: 20px;
}

.first-row {
  padding-top: 20px;
}

.marks {
  size: 500px;
  color: rgba(187, 154, 33);
  position: relative;
  top: 10px;
}

.craft {
  font-size: xxx-large;
  font-family: "Times New Roman", Times, serif;
}

.installer {
  font-size: xxx-large;
  font-family: "Times New Roman", Times, serif;
}

.sander {
  font-size: xxx-large;
  font-family: "Times New Roman", Times, serif;
}

.finisher {
  font-size: xxx-large;
  font-family: "Times New Roman", Times, serif;
}

#reviews {
  margin: 0 0 0 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/src/components/images/LVT\ 3\ copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  color: white;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(157, 0, 0);
}

#body {
  transition: 0.3s;
}

#body:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 4px gold;
}

#cards {
  background-color: rgba(187, 154, 33, 0.7);
  color: white;
  font-family: "Times New Roman", Times, serif;
}

#cards:hover {
  text-shadow: 2px 2px 4px rgba(157, 0, 0, 0.7);
}

#value {
  color: rgba(157, 0, 0, 0.7);
  font-family: "Times New Roman", Times, serif;
}

/*Care*/

.new {
  margin-left: 15px;
}

.mop {
  width: 770px;
  height: 100%;
  padding-top: 25px;
  object-fit: cover;
  object-position: center center;
}

.mop-sm{
  width: 450px;
}

.damage-sm{
  width: 450px;
}

.milk-sm{
  width: 450px;
}

.damage {
  width: 700px;
  padding-top: 75px;
}

.milk{
  padding-top: 20px;
  width: 610px;
}

.first-row {
  display: flex;
}

.first-word {
  color: rgba(187, 154, 33, 0.8);
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  font-weight: bolder;
  padding-right: 3px;
}

.mistake{
  color: rgba(187, 154, 33, 0.8);
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: larger;
}

.second-word {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

#floor-care {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/src/components/images/Sand\ 6\ After.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  color: white;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px rgba(157, 0, 0);
}

#care-heading {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  margin-left: 15px;
  text-shadow: 2px 2px 4px rgba(187, 154, 33, 0.8);
}

#inline {
  display: inline-block;
}

#dont {
  margin-top: 120px;
}

#mistakes{
  margin-top: 120px;
}

@media screen and (min-width: 769px) and (max-width: 1330px) {
  .mop {
    width: 470px;
    height: auto;
    padding-top: 400px;
  }

  .damage{
    width: 400px;
    padding-top: 300px;
  }
}
